Options +followsymlinks 
RewriteEngine  on

RewriteRule		^$ 	libraries/index.php
RewriteRule		^administration/plugins$ libraries/index.php?PluginAdministration

#RewriteRule		^admin(.?)$ /papyrine/libraries/index.php?route=admin
#RewriteRule		^admin/post(.?)$ /papyrine/libraries/index.php?route=admin_post
#RewriteRule		^admin/users(.?)$ /papyrine/libraries/index.php?route=admin_users
#RewriteRule		^admin/plugins(.?)$ /papyrine/libraries/index.php?route=admin_plugins
